<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" th:replace="~{layouts/base :: layout(
            'Tuna',
            ~{::section}
        )}">
<section class="flex w-full max-w-2xl flex-col gap-6">
    <th:block th:each="post : ${posts}">
        <th:block th:replace="~{fragments/post-card :: postCard(${post})}"/>
    </th:block>

    <th:block th:replace="~{fragments/playlist-popup :: playlistPopup}"/>

    <p th:if="${#lists.isEmpty(posts)}" class="
            flex min-h-72 items-center justify-center
            border border-dashed border-neutral-300
            text-sm text-neutral-500
        ">
        게시글이 없습니다.
    </p>

    <script
            th:if="${playlistAlert != null}"
            th:inline="javascript"
    >
        window.alert([[${playlistAlert}]])
    </script>
</section>
</html>