<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" th:replace="~{layouts/base :: layout(
            'Tuna',
            ~{::section}
        )}">
<section class="flex w-full max-w-2xl flex-col gap-6">
    <th:block th:each="post : ${posts}">
        <th:block th:replace="~{fragments/post-card :: postCard(${post})}"/>
    </th:block>

    <th:block th:replace="~{fragments/playlist-popup :: playlistPopup}"/>

    <p th:if="${#lists.isEmpty(posts)}" class="
            flex min-h-72 items-center justify-center
            border border-dashed border-neutral-300
            text-sm text-neutral-500
        ">
        게시글이 없습니다.
    </p>

    <script
            th:if="${playlistAlert != null}"
            th:inline="javascript"
    >
        window.alert([[${playlistAlert}]])
    </script>

    <div th:if="${param.login}"
         id="loginToast"
         class="
        fixed top-5 right-5 z-50
        flex items-center gap-3
        rounded-xl
        border border-neutral-200
        bg-white
        px-5 py-3
        text-sm
        text-neutral-700
        shadow-lg
     ">

    <span class="
        flex h-6 w-6 items-center justify-center
        rounded-full
        bg-green-100
        text-green-600
        text-xs
        font-bold
    ">
        ✓
    </span>

        <span>
        로그인되었습니다.
    </span>

    </div>

    <div th:if="${param.logout}"
         id="logoutToast"
         class="
        fixed top-5 right-5 z-50
        flex items-center gap-3
        rounded-xl
        border border-neutral-200
        bg-white
        px-5 py-3
        text-sm
        text-neutral-700
        shadow-lg
     ">

    <span class="
        flex h-6 w-6 items-center justify-center
        rounded-full
        bg-red-100
        text-red-600
        text-xs
        font-bold
    ">
        ✓
    </span>

        <span>
        로그아웃되었습니다.
    </span>

    </div>

</section>
</html>